@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #030712;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb {
  background-color: #08b7d6e6;
  border-radius: 10px;
  border: 3px solid #282828;
}

::-webkit-scrollbar {
  width: 10px;
  background: #282828;
}

section {
  max-width: 1600px;
  margin: auto;
}

.RowOfMovies:hover .RowOfMovies-border {
  width: 60%;
}

.movieList-link-popular.active~.movieList-link-border {
  opacity: 1;
  left: calc(16.7% * 1);
}

.movieList-link-trending.active~.movieList-link-border {
  opacity: 1;
  left: calc(16.7% * 3);
}

.movieList-link-rated.active~.movieList-link-border {
  opacity: 1;
  left: calc(16.7% * 5);
}

.movieList-link-popular:hover~.movieList-link-border {
  opacity: 1;
  left: calc(16.7% * 1);
}

.movieList-link-trending:hover~.movieList-link-border {
  opacity: 1;
  left: calc(16.7% * 3);
}

.movieList-link-rated:hover~.movieList-link-border {
  opacity: 1;
  left: calc(16.7% * 5);
}

.GroupOfMovies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.MovieTopCast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
}


.mediaSwitcher:checked~div .mediaMovie {
  color: #9ca3af;
}

.mediaSwitcher:checked~div .mediaTV {
  color: #fff;
}

@media screen and (max-width:768px) {
  .GroupOfMovies {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .MovieTopCast {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }

}

@media screen and (max-width:505px) {
  .MovieTopCast {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width:470px) {
  .GroupOfMovies {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

.venom {
  mask-image: linear-gradient(to left, #030712 17%, transparent);
}

.spiderman {
  mask-image: linear-gradient(to right, #030712 17%, transparent);
}

.stitch {
  filter: drop-shadow(0 0 150px rgba(6, 182, 212, 0.7));
}

.dune {
  mask-image: linear-gradient(to right, transparent, #030712 50%, transparent);
}

.trendingSeries {
  /* mask-image: linear-gradient(320deg, rgba(3, 7, 18, 0.5) 0%, rgba(3, 7, 18, 0.1) 45%, rgba(3, 7, 18, 0.1) 100%); */
  mask-image: linear-gradient(320deg, rgba(3, 7, 18, 0.50) 0%, rgba(3, 7, 18, 0.01) 100%);
  filter: blur(4px);
}